.page_control_container {
    margin: 20px 0;
    padding: 16px 24px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.page_control_container .page_condition {
    text-align: left;
}

.page_control_container .page_condition_controler {
    text-align: right;
}

.page_result {
    padding: 16px 24px;
    background-color: #FFFFFF;
}