body {
    background-color: #f0f2f5 !important;
}

.page_control_container {
    margin-bottom: 20px;
    padding: 16px 24px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.page_control_container .page_condition {
    text-align: left;
}

.page_control_container .page_condition_controler {
    text-align: right;
}

.page_result {
    padding: 16px 24px;
    background-color: #FFFFFF;
}

.result_extra_control {
    padding: 0px 24px 16px 0;
}